[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
ipython = "*"
click = "*"
pathlib = "*"
setuptools = "*"

[dev-packages]
pycodestyle = "*"
pydocstyle = "*"
pylink = "*"
pylint = "*"
ipython = "*"

[requires]
python_version = "3.7"
